name: Workflow Demo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create a text file
      run: |
           echo "Hello, world!" > hello.txt
           mkdir ./artifacts
           ls -lrt
           mv hello.txt ./artifacts
      
    - name: Archive text file
      uses: actions/upload-artifact@v4
      with:
        name: hello-artifact
        path: ./artifacts/hello.txt


  download:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: hello-artifact

    - name: Display file content
      run: | 
          cat ./artifacts/hello.txt



